@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:ital,wght@0,100;0,300;1,300&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
}

main.main-colors {
  width: 100%;
  color: white;
  background-color: #1c1c1c;
}

h2 {
  color: white;
  text-transform: uppercase;
}

.container {
  width: 80%;
  margin: auto;
  height: 100%;
}

header {
  width: 100%;
  height: 170px;
  line-height: 145px;
  font-weight: bold;
  text-transform: uppercase;
  color: #4a4853;
}
header .header-top {
  width: 100%;
  height: 25px;
  background-color: #0884f5;
  color: white;
  display: flex;
  justify-content: flex-end;
  line-height: 25px;
}
header .left-col {
  height: 100%;
  width: 30%;
  float: left;
}
header .right-col {
  width: 70%;
  min-width: 400px;
  height: 100%;
  float: left;
  text-align: right;
}
header .right-col ul li {
  display: inline-block;
  margin-right: 30px;
}
header .right-col ul li a {
  display: inline-block;
  line-height: 110px;
  padding-bottom: 12px;
  color: #4a4853;
}
header .right-col ul li a.active {
  border-bottom: 5px solid #0884f5;
  color: #0884f5;
}

.logo {
  width: 85px;
  display: inline-block;
}
.logo img {
  vertical-align: middle;
}

.jumbotron {
  width: 100%;
  height: 385px;
  background-image: url(../images/jumbotron.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: unset;
}

.container-main {
  width: 75%;
  height: 100%;
  margin: auto;
  position: relative;
}
.container-main .btn_title a {
  color: inherit;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  background-color: #0884f5;
  padding: 13px 28px;
  position: absolute;
  top: -3%;
}
.container-main .product-list {
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: calc(16.6666666667% - 20px);
  height: auto;
  margin: 30px 10px;
  padding: 0 10px;
}
.product .product-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin-bottom: 20px;
}
.product .product-title {
  text-transform: uppercase;
}

section {
  width: 100%;
  height: 160px;
  background-color: #0884f5;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
}

.logos {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.logos .logo-contents {
  display: flex;
  align-items: center;
}
.logos .logo-contents .single-logo {
  width: 45px;
  margin-right: 20px;
}

.about-top {
  width: 100%;
  height: 80px;
  background-color: #0884f5;
  margin-bottom: 30px;
}

.about-container {
  width: 70%;
  margin: auto;
  position: relative;
}
.about-container .card-detail {
  border: 1px solid white;
  position: absolute;
  top: -250px;
}
.about-container .card-detail .detail-title {
  width: 100%;
  text-transform: uppercase;
  color: white;
  text-align: center;
  background-color: #01aad9;
}

.about-bottom {
  width: 100%;
  background-color: white;
  color: #4a4853;
  display: flex;
}
.about-bottom .about-left {
  width: 70%;
}
.about-bottom .about-left h2 {
  text-transform: uppercase;
  color: black;
  font-size: 28px;
}
.about-bottom .about-left .comic-info {
  width: 100%;
  background-color: #55ba58;
  display: flex;
  align-items: center;
  height: 40px;
  color: white;
}
.about-bottom .about-left .comic-info h3 {
  color: #aae75d;
  text-transform: uppercase;
}
.about-bottom .about-left .comic-info .comic-price {
  width: 70%;
  height: 100%;
  border-right: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
}
.about-bottom .about-left .comic-info .comic-check {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  text-transform: uppercase;
}
.about-bottom .about-left .comic-description {
  margin: 30px 0;
}
.about-bottom .about-right {
  width: 30%;
}

footer {
  width: 100%;
}
footer .footer-top {
  background-image: url(../images/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: unset;
  overflow: hidden;
}
footer .footer-top .container {
  display: flex;
  position: relative;
}
footer .footer-top .container .links-section {
  width: 60%;
  padding: 35px 0;
  display: flex;
}
footer .footer-top .container .links-section .links {
  margin-right: 30px;
}
footer .footer-top .container .links-section .links li {
  margin: 8px 0;
}
footer .footer-top .container .links-section .links li a {
  color: #797979;
}
footer .footer-top .container .dc_logo {
  width: 40%;
  position: absolute;
  top: -29%;
  right: 0;
}

h2 {
  margin: 20px 0;
}

section {
  background-color: #2d2d2d;
  width: 100%;
  height: 100px;
}
section .container {
  display: flex;
}
section .container .footer-btn {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
section .container .footer-btn a {
  font-size: 20px;
  color: white;
  background-color: #2d2d2d;
  border: 2px solid #0884f5;
  padding: 13px 22px;
}
section .container .links {
  width: 50%;
  height: 100%;
}
section .container .links ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
section .container .links ul li {
  margin: 0 20px;
}
section .container .links ul li a {
  color: #0884f5;
  font-size: 20px;
}